{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": "last 2 Chrome versions"
      }
    ],
    "@babel/preset-react"
  ]
}