.Lattice {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0;
  border: 1px solid grey;
  display: inline-block;
  margin: 20px 0;
  user-select: none;

  .hoverOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
}
