.Blob {
  opacity: 0.5;
  position: absolute;
  border-radius: 50%;

  &.yellow {
    background: yellow;
  }

  &.green {
    background: green;
  }

  &.blue {
    background: blue;
  }

  &.red {
    background: red;
  }

  &.brown {
    background: brown;
  }

  &.orange {
    background: orange;
  }

  &.purple {
    background: purple;
  }

  &.black {
    background: black;
  }
}
