$height: 50px;

.Title {
  background: rgb(221, 237, 253);
  box-shadow: 0 -1px 0 0 lightgrey inset;
  height: $height;
  line-height: $height;
  text-align: center;
  user-select: none;
  position: relative;

  h1 {
    margin: 0;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: normal;
  }
}
